BASE_URL=
TOKEN_DEVELOPMENT=
ALLOWED_URLS="*"
MONGO_DATABASE_URL=
POSTGRES_DATABASE_URL=
DATABASE_NAME="emprest-ai"
PORT=3001
MONGO_INITDB_ROOT_USERNAME=
MONGO_INITDB_ROOT_PASSWORD=
TOKEN_SECRET_KEY=
REFRESH_TOKEN_SECRET_KEY=
TOKEN_EXPIRATION_TIME=1h
REFRESH_TOKEN_EXPIRATION_TIME=7d