BASE_URL="http://localhost:3001/"
TOKEN_DEVELOPMENT=TOKENXDEVELOPMENT
ALLOWED_URLS="http://localhost:3000"
PORT=3001
TOKEN_SECRET_KEY=token
REFRESH_TOKEN_SECRET_KEY=refresh
TOKEN_EXPIRATION_TIME=1h
REFRESH_TOKEN_EXPIRATION_TIME=7d
MONGO_DATABASE_NAME="emprest-ai"
MONGO_INITDB_ROOT_USERNAME=root
MONGO_INITDB_ROOT_PASSWORD=password
POSTGRES_USER=root
POSTGRES_PASSWORD=password
POSTGRES_DB=emprest-ai
MONGO_DATABASE_URL="mongodb://root:password@mongo:27017"
POSTGRES_DATABASE_URL="postgres://root:password@postgres:5432/emprest-ai"